<nav
  class="navbar fixed-top navbar-expand-md navbar-light"
  style="background-color: #c7626a"
  aria-label="Fourth navbar example"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> Dashboard </a>

    <div class="expand navbar-expand-md" id="navbarsExample04">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="dropdown04"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="margin-right: 3rem"
            >Options</a
          >
          <ul
            class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end"
            aria-labelledby="dropdown04"
          >
            <li><a class="btn" class="dropdown-item" href="#">Account</a></li>
            <li>
              <a href="/users/delete" class="btn" class="dropdown-item"
                >Modify Account</a
              >
            </li>
            <li>
              <a href="/users/logout" class="btn" class="dropdown-item"
                >Logout</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<p class="lead mb-3" style="margin-top: 5rem; font-size: 50px">
  Welcome <%= name %>!
</p>
